<!DOCTYPE html>
<html>
  <head>
    {{congestion_map.js}}
  </head>
  <body>
    <h1> Congestion Mapping Webapp by Le Thai An EEIT2015 </h1>
    {{congestion_map.html}}
    <h2> History </h2>
    <table style="width:100%">
      <tr>
        <td>Latitude</td>
        <td>Longtitude</td>
        <td>Do ket xe</td>
        <td>Thoi diem</td>
      </tr>
      {% for entry in history %}
      <tr>
          <td>{{entry.lat}}</td>
          <td>{{entry.lng}}</td>
          <td>{{entry.degree}}</td>
          <td>{{entry.moment}}</td>
      </tr>
      {% else %}
       <h3> Nothing here ! </h3>
      {% endfor %}  
  </body>
</html>
